# playlists-manager
/utils/playlists-manager/playlists-youtube-urls.txt
/utils/playlists-manager/playlists-urls.txt
/utils/playlists-manager/playlists.csv
/utils/playlists-manager/cookie-youtube.txt
/utils/playlists-manager/cookie-chrome.txt
