html {
    background-color: #1e1e1e;
    color: #b4b4b4;
}

body {
    text-align: center;
}

#profile {
    border-radius: 10%;
}

#contact {
    color: #d0bcff;
    font-weight: bold;
    text-decoration: none;
}
