html {
    background-color: #1e1e1e;
    color: #b4b4b4;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

.panel {
    background-color: #2e2e2e;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.icon {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.title {
    margin: 10px;
    text-align: left;
}

.description {
    margin: 10px;
    text-align: left;
}

.hyperlink {
    color: #d0bcff;
    font-weight: bold;
    text-decoration: none;
}
