:root {
  --font-body: "Segoe UI", Helvetica, sans-serif;
  --color-surface: #262626;
  --color-on-surface: #f6f6f6;
  --color-highlight: #ffa6ea;
  --color-border: #1e1e1e;
}

* {
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-body);
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-border);
  border-radius: 0;
  height: 4rem;
  padding: 0 2rem;
}

main {
  width: 80%;
  min-height: calc(100vh - 12rem);
  margin: 2rem auto;
}

section {
  background-color: var(--color-border);
  padding: 1rem;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.5rem;
}

h2,
h3 {
  font-size: 1.25rem;
}

select,
input,
button {
  background-color: var(--color-border);
  color: var(--color-on-surface);
  border: 0.125rem solid var(--color-on-surface);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-on-surface);
  color: var(--color-border);
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 16rem;
}

.card > img {
  object-fit: cover;
  width: 14rem;
  height: 14rem;
}

@media (prefers-color-scheme: light) {
  body {
    --color-surface: #adadad;
    --color-on-surface: #262626;
    --color-highlight: #5e0ed6;
    --color-border: #dcdcdc;
  }
}
